# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Premake
*.make
Makefile

# clangd
.cache/
compile_commands.json

# Dirs
lib/
bin/
thirdparty/

# Conan
conan.lock
conan_imports_manifest.txt
conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
graph_info.json
